<h1>
  <span>Listing <%= name.pluralize.humanize %></span>
</h1>

<ul class="list">
  <%% @<%= rails_collection_name %>.each do |<%= rails_model_name %>| %>
    <li>
      <%%= <%= rails_model_name %>.<%= attributes.first.name %> %>

      <div class="actions">
        <%%= link_to "Show", <%= rails_model_name %>, class: "action" %>
        <%%= link_to "Edit", edit_<%= rails_model_name %>_path(<%= rails_model_name %>), class: "action" %>
        <%%= link_to "Destroy", <%= rails_model_name %>, class: "action delete", confirm: "Are you sure?", method: :delete %>
      </div>
    </li>
  <%% end %>
</ul>

<%%= link_to "New <%= name.humanize %>", new_<%= rails_model_name %>_path, class: "action" %>
