<p id="notice"><%%= notice %></p>

<% attributes.each do |attribute| -%>
  <%= attribute.name.humanize %>
  <%%= @<%= rails_model_name %>.<%= attribute.name %> %>
<% end -%>

<%%= link_to "Edit", edit_<%= rails_model_name %>_path(@<%= rails_model_name %>), class: "action" %>
<%%= link_to "Back", <%= rails_collection_name %>_path, class: "action" %>
